body {
	background: whitesmoke;
}

span.icon {
	padding-right: 1rem;
}

/* Navbar */
.navbar-burger {
	color: #ffffff;
}



.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* User profile picture */
img.user-profile-picture.is-rounded {
  display: block;
  height: 100px;
  width: auto;
}

.column.comments-wrapper img.user-profile-picture.is-rounded {
  display: block;
  height: 60px;
  width: auto;
}

/* User profile card */
.mid-card-footer {
    margin: 10px 0;
    background-color: none;
    border: 1px solid #dbdbdb;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Content Checks */
.checks-button {
	float:left;
	padding: 0px 5px;
	cursor:pointer;
}
.checks-button input[type="button"]{
	width:25px;
	height:25px;
	border:0;
	cursor:pointer;
}
.check {
	background:url('../img/check.png');
}
.uncheck {
	background:url('../img/uncheck.png');
}
.checks-label {
	font-size:12px;
	font-weight: bold;
	color:#2F529B;
	height:20px;
	padding:5px 0px;
}
.desc {
	clear:both;
	color:#999;
}

.area-51 {
	display: none;
}

.image img {
  display: block;
  height: auto;
  width: auto;
}