html,body {
  font-family: 'Open Sans', serif;
}

.mapclass {
	height: 800px;
}

img.is-rounded.user-profile-picture,
.image img {
  height: auto;
  width: auto;
}

.map {
  background-color: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map .nav, .map.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-menu {
	background-color: transparent;
}

.navbar-burger {
	color: #ffffff;
}

.navbar-item {
	color: #ffffff;
}

.map .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.navbar-brand .navbar-item img {
	max-height: 6rem;
}

.card {
	background-color: rgba(255,255,255,.8);
	color: #000000;
}

.map.is-info .title {
	color: #000000;
}

.map-foot .content {
	padding: 1.5rem;
}

a.button.is-link.is-fullwidth {
    background-color: #ffa500;
    color: #ffffff;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: #3273dc;
}

.navbar-dropdown {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid #dbdbdb;
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}